body {
    font-family: dnp-shuei-mgothic-std, sans-serif;
    padding-top:50px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

button {
    visibility: hidden;
}

button:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#container {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
}

#works__container iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#works__container{
    border: 5px solid #fda117;
}

.square {
    width: 100%;
    height: calc(50vw* 0.6);
    background: black;
}

#title__container p {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: -6px;
    text-align: center;
}

#author__container {
    display: flex;
}

.author__div {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.author__column {
    display: flex;
}

.author__job {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

.author__name {
    text-align: left;
    padding-left: 10px;
}

#buttons__container {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#buttons__container img{
    height: 50px;
    visibility: visible;
}

#footer__container p {
    text-align: center;
    color: #a9a9a9;
}

.sp_only {
    display: none;
}

.title_jp {
   display: block;
}
 
.title_en {
   display: none;
}

.caption_jp {
   display: block;
}
 
.caption_en {
   display: none;
}
